{% assign item = include.item %}
<article class="card card--article">
  <div class="card__body">
    <div class="card__meta">
      <span>{{ item.date_label }}</span>
      <span>{{ item.tag }}</span>
    </div>
    <h3>
      {% if item.external_url != blank %}
        <a href="{{ item.external_url }}" target="_blank" rel="noreferrer">{{ item.title }}</a>
      {% else %}
        {{ item.title }}
      {% endif %}
    </h3>
    <p>{{ item.summary }}</p>
    <div class="card__footer">
      {% if item.external_url != blank %}
        <a class="button button--small" href="{{ item.external_url }}" target="_blank" rel="noreferrer">Read full article</a>
      {% else %}
        <span class="button button--small button--disabled">Add full article link</span>
      {% endif %}
    </div>
  </div>
</article>
